.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.search-container {
  display: flex;
 
  align-items: center;
  justify-content: center;
}
.inp {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.header-container {
  color: white;
  background: rgb(0, 81, 255);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  box-shadow: 5px 2px 16px 3px rgb(0 0 0 / 12%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn {
  outline: 0;
  margin: 15px;
  cursor: pointer;
  border-radius: 4px;
  background: pink;
  width: 100px;
  border: 0.5px solid rgba(0, 0, 0, 0.37);
  padding: 0.5rem 1rem;
}

.btn-danger {
  color: white;
  background: pink;
}

.btn-primary {
  color: white;
  background: pink;
}

.add-movie-btn {
  background: white;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
}
.movie-card {
  border-radius: 6px;
  background: pink;
  position: relative;
  margin: 1rem;
  width: 350px;
  box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 5%);
}

.movie-card > img {
  width: 100%;
  height: 400px;
}

.movie-card > h3,
.movie-card > p {
  color: black;
  padding: 0.5rem;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.detail{
  text-align: center;
  color: rgb(224, 214, 202);
  height: 700px;
  padding: 100px;
  width:900px;
  margin-left: 300px;
}
.test{color: aqua;
width: 500px;
text-align: center;
margin: 100px;
margin-top: -2px;
}